:root{
    --color-background-one:rgb(37, 23, 73);
    --color-background-two:rgb(95, 157, 247);
    --color-background-three:rgb(220, 219, 217);
    --color-background-four:rgb(208, 90, 17);
    --color-background-five:rgb(0, 0, 0);
}
*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing:inherit;
}
html{
background-color: var(--color-background-three);
scroll-behavior: smooth;
overflow-y: scroll;
}
body{
    width: 280px;
    background-color: var(--color-background-four);
    color:var(--color-background-three);
}
/*Menu destopk and mobil*/
.header{
    position: sticky;
    z-index: 997;
    top: 0;
    width: 100%;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: var(--color-background-five);
}
.nav-ul,
.nav-ul-movil{
    list-style: none;
    padding: 0px;
}
.nav-ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav-ul__buttom{
    display: none;
}

.menu-movil{
    display: none;
    position: sticky;
    z-index: 997;
    top: 50px;
    height: calc(100vh - 50px);
}
.nav-ul-movil{
    width: 100%;
    height: 100%;
    background-color: var(--color-background-five);
    display: grid;
    place-items: center;
    transition: all 1s;
    opacity: 0;
    visibility:hidden;
}

.active{
    opacity: 1;
    visibility: visible;
}

@media  (min-width: 360px) {
    .nav-ul{
        justify-content:space-between;
    }
    .nav-ul .nav-ul__buttom{
        display: block;
    }
    .nav-ul .nav-ul__li{
        display: none;
    }
    .nav-ul .nav-ul__Logo,
    .nav-ul .nav-ul__buttom{
       margin: 0rem 1rem 0rem 1rem;
    }
    .menu-movil{
        display: block;
    }
    .nav-ul  .nav-ul__select{
        display: none;
    }
}

.container{
   padding-top: 5rem;
   width: 100%;
   height: 100vh;
   margin-left: auto;
   margin-right: auto;
   /*
   width: 100%;
   max-width: var(--container-width);
   min-height: 100vh;
   height: 100vh;
   */
   text-align: center;
}