.footer-section{
    background-color: var(--color-background-five);
    height: 100px;
    text-align: center;
    width: 100%;
    display: grid;
    place-items: center;
}
.container-social-media-footer{
  width: 100%;
}
.container-social-media-footer .social-item{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.container-social-media-footer svg{
  fill: white;
}
@media  screen and (min-width: 660px){
    .container-social-media-footer{
        width: 100%;
    }
}