:root{
    --color-background-cero:rgb(19, 11, 40);
    --color-background-one:rgb(37, 23, 73);
    --color-background-two:rgb(13, 3, 114);
    --color-background-three:rgb(220, 219, 217);
    --color-background-four:rgb(35, 5, 105);
    --color-background-five:rgb(0, 0, 0);
/*
    --color-background-cero:rgb(216, 214, 220); 
    --color-background-one:rgb(0, 0, 0);
    --color-background-two:rgb(255, 255, 255);
    --color-background-three:rgb(0, 39, 147);
    --color-background-four:rgb(236, 236, 246);
    --color-background-five:rgb(116, 116, 116);
    */
}
*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing:inherit;
    scrollbar-width: thin;
    scrollbar-color: var(--color-background-four) var(--color-background-three);
}
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--color-background-cero);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-background-three);
    border-radius: 20px;
  }
html{
background-color: var(--color-background-three);
scroll-behavior: smooth;
overflow-y: scroll;
transition: all 0.5s;
}
body{
    width: 100%;
    background-color: var(--color-background-four);
    color:var(--color-background-three);
}

.container{
   padding-top: 4rem;
   width: 100%;
   height: 100vh;
   max-height: 700px;
   margin-left: auto;
   margin-right: auto;
   /*
   width: 100%;
   max-width: var(--container-width);
   min-height: 100vh;
   height: 100vh;
   */
   text-align: center;
   border-bottom: var(--color-background-one) solid 1px;
}

.InConstruction{
 width: 100%;
 height: 100%;
 display: grid;
 place-items: center;
}
.InContruction__icom{
    display: grid;
}
.InContruction__table{
    width: 200px;
}
.InContruction__tableBarOne,
.InContruction__tableBarTwo,
.InContruction__tableBarThree{
    width: 200px;
    height: 10px;
    margin-top: 0px;
    border: 1px solid var(--color-background-three);
}

.InContruction__tableBarTwo{
    border: none;
    border-left: 1px solid var(--color-background-three);
    border-right: 1px solid var(--color-background-three);
}
.InContruction__triangle{
    height: 100%;
    display: grid;
    place-items: center;
    width: 100%;
}

@media  screen and (min-width: 0px) and (max-width:600px ){
    .container{
        padding-top: 60px;
    }
    .container:nth-child(1){
        padding-top: 0px;
    }
}

@media  screen and (min-width: 600px){
    .container-home{
        padding-top: 0px;
    }
    
}