.link-cv-download{
    padding: 5px;
    display: grid;
    place-items: center;
    border: 1px var(--color-background-three) solid;
    color: var(  --color-background-three);
    text-decoration: none;
    width: 40%;
    margin: 0px auto auto auto;
    padding: 20px;
}
.link-cv-download:hover{
    text-decoration: underline;
    background-color: var(--color-background-three);
    color: var(--color-background-four);
}
.container-about-me{
    position: relative;
   display: flex;
   flex-direction: column;
   background-color: var(--color-background-cero);
   z-index: 2;
}
.container-img-about-me{
    display: grid;
    place-items: center;
    height: 300px;
}
.img-about-me{
  position: relative;
  width: 230px;
  top:20px;
  border-radius: 50%;
}
.container-about-me__p{
    padding: 10% / 0%;
   width: 60%;
   margin: 10px auto 20px auto;
   font-size: 1.2rem;
}
@media  screen and (min-width: 0px) and (max-width:660px ){

    .container-img-about-me{
        height: 34%;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .container-about-me__p{
        padding: 0px;
       width: 90%;
       margin: auto;
       font-size: 1rem;
    }

}