.container-home{
    background-color: var(--color-background-cero);
}
.home-grid{
    width: 100%;
    height: 90%;
    margin: 0px;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.container-intro{
    width: 350px;
    display: grid;
    height: 350px;
    margin: 0px 100px 0px 50px;
}
.container-intro h1{
    font-size: 30px;
}
.container-intro hr{
  height: 1px;
} 
.container-social-media{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80px;
    height: 50%;
}
.social-item{
    height: 100%;
   display: grid;
}
.social-item__li{
    height: 30px;
    width: 30px;
    margin: 10px 0px 10px 0px;
    border-radius: 50%;
}
.social-item__li svg{
    fill:var(--color-background-four);
    height: 30px;
    width: 30px;
}
.social-item__li svg:hover{
    fill:var(--color-background-three);
}


.cursor-class{
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color:var(--color-background-four);
}

@keyframes cursor{
   0%{
    color:var(--color-background-four);
   }
   100%{
    color:var(--color-background-three);
   }
}
@media  screen and (min-width: 0px) and (max-width:660px ){
    .home-grid{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        margin: auto;
        top: 20%;
    }
    .container-intro{
        width: 90%;
        height: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 350px;
        margin: 0px 50px 0px 50px;
    }
    .social-item{
        display: flex;
        list-style: none;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .container-social-media{
        width: 100%;
        height: 33%;
        display: grid;
        grid-template-columns: 100%;
    }
}

@media  screen and (min-width: 660px){
    .container-social-media{
        list-style: none;
    }
    .social-item{
        list-style: none;
    }
    .social-item__li{
       padding: 0px;
    }
}