
.container1,
.containerTitleA,
.containerTitleB{
    width: 1px;
    height: 1px;
}
.container1{
    position: relative;
    display: grid;
    place-items: center;
    left: calc(60% - 300px);
    top: 50vh;
}
.containerTitleA,
.containerTitleB{
    position: relative;
    display: grid;
    place-items: center;
    right: 1px;
    top: -2px;
    width: 1px;
    height: 1px;
    border-radius: 25px;
}
.colorItem{
    display: sticky;
}
.containerTitleA{
  left: 125px;
}
.containerTitleB{
    right: 135px;
}
.form-title{
    display: flex;
    justify-items: center;
    align-items: center;
}
#form{
    background-color: rgb(12, 34, 143);
    padding: 2rem;
    color:white;
    width: 280px;
}
.inputsCharacter{
    width: 280px;
    margin-bottom: 10px;
}

.positionButton{
    display: flex;
    justify-content: space-between;
}
.character,
.radio{
    margin:5px 0px 5px 0;
    width: 80%;
    border: none;
    height: 20px;
    border-radius: 5px;
}
.radio{
    width: 20%;
}
.plusInputButton,
.subtmitButton,
.resetInputButton,
.clearInputButton{
    color:white;
    background:none;
    height: 30px;
    width: 80px;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.resetInputButton{
    display: none;
}
.resetInputButton.active{
    display: block;
}
.giro{
    animation-name: giro;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes giro{
    0%{

    }
    50%{
        transform: rotateZ(180deg); 
        /*transform:rotate3D(180,20,90,190deg);*/
    }
    100%{
        transform: rotateZ(360deg); 
    }
}

.colorItem{
  margin: 0;
  color: white;
  opacity: 0.4; 
  position: absolute;
  cursor: default;   
}

.colorItem:hover{
  opacity: 1;
}

@media  screen and (min-width: 0px) and (max-width:660px ){
    .containerTitleA{
        left: 35px;
      }
}